@import "https://unpkg.com/fixedsys-css/css/fixedsys.css";

body {
    background: #f00;
    margin: 0;
    overflow: hidden;
    image-rendering: pixelated;
}
canvas {
    background: #111;
    /* background-image: url("sky.png"); */
    /* background-size: cover; */
}
.fixed {
    background: #fff;
    color: #333;
    font-family: "FixedSys";
    position: fixed;
    padding: 10px;
}
#viewmodel {
    width: 100vh;
    height: 100vh;
    position: fixed;
    left: calc(50vw - 50vh);
    bottom: 0px;
}