@import "https://unpkg.com/fixedsys-css/css/fixedsys.css";

body {
    background: #f00;
    margin: 0;
    overflow: hidden;
    image-rendering: pixelated;
}
canvas {
    background: #3e1f21;
    /* background-image: url("sky.png"); */
    /* background-size: cover; */
    image-rendering: initial;
}
.fixed {
    background: #fff;
    color: #333;
    font-family: "FixedSys";
    position: fixed;
    padding: 10px;
}
#viewmodel {
    width: 100vh;
    height: 100vh;
    position: fixed;
    left: calc(50vw - 50vh);
    bottom: 0px;

    pointer-events: none;
}
#crosshair {
    width: 4vh;
    height: 4vh;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);

    pointer-events: none;
}